@import "../commonStyle.css";

/*  비밀번호 초기화    */
.init-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

}
main {
    display: flex;
    flex-direction: column;
    gap: var(--vh-48);
    align-items: center;
    justify-content: center;
}
.welcome-img {
    width: calc((516 / var(--vw)) * 100vw);
    height: auto;
}
.welcome-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.welcome-wrap p {
    font-size: 14px;
}
.input-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--vh-24);
}
form {
    display: flex;
    flex-direction: column;
    gap: var(--vh-64);
}
.error{
    font-size: 11px;
    color: var(--color-error);
}
.init-div .btn-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
.find-wrap .init-div {
    display: flex;
    flex-direction: column;
    gap: var(--vh-64);
}

.flex-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
