#tab-header {
    display: flex;
    flex-direction: column;
    gap: 8px !important;
    justify-content: flex-start;
    align-items: flex-start !important;
    margin-bottom: var(--vh-48)!important;
}

.sub-title {
    display: flex;
    align-items: center;
    /*gap: 1px !important;*/
}

#proposalClb {
    padding: var(--vh-8) var(--vw-12);
    margin-left: var(--vw-16);
    color: var(--color-font-md);
}

.card-wrap {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: var(--vw-24);
    grid-row-gap: var(--vw-24);
}

.card-thum {
    text-align: center;

}

.card-thum img {
    width: 100%;
    height: 60%;
    padding: 20px;
    border-radius: var(--vw-40);
    object-fit: cover;

}

.club-kind {
    padding: 4px var(--vw-18);
    border-width: 1px;
    border-style: solid;
    font-size: var(--font-size-11);
}


.card-content {
    padding: var(--vh-8) var(--vw-24);
    color: var(--font-md);
}

.club-name {
    margin: 20px 0 35px 0;
    font-family: var(--font-md);
    font-size: var(--font-size-18);
}

.club-dc {
    font-family: var(--font-reg);
    color: var(--color-font-md);
    font-size: var(--font-size-14);
    margin-bottom: 20px;
}

.modal-layer {
    gap: var(--vh-24);
}

.club-title {
    margin: 20px 0 20px 10px;
    font-family: var(--font-reg);
    font-size: var(--font-size-18);
    color: var(--color-font-md);
}
.modal-container input{
    font-family: var(--font-reg);
    font-size: var(--font-size-14);
}
/*모달 동호회 설명란*/

#clbDc {
    height: 144px;
    padding: 40px 20px;
    font-family: var(--font-reg);
    font-size: var(--font-size-14);
}

.modal-description {
    padding: 20px;
    border: 1px solid rgba(213, 213, 213, 0.53);
    margin-top: 20px;
    border-radius: var(--size-32);
    line-height: 1.6;

}
.modal-description p {
    margin-left: 16px;
    font-family: var(--font-reg);
    font-size: var(--font-size-11);
    color: var(--color-font-md);
}
.modal-thum img {
    width: 100%;
    height: 240px;
    margin-bottom: var(--vh-32);
    border-radius: var(--vw-24);
    object-fit: cover;
}

.club-kind {
    margin-top: 300px;
}
    /*뱃찌ㅣㅣㅣㅣㅣㅣㅣㅣㅣ*/
.badge-1 {
    color: #ff2323;
    border-color: #ff2323;
}

.badge-2 {
    color: #ff7023;
    border-color: #ff7023;
}

.badge-3 {
    color: #f6cd00;
    border-color: #f6cd00;
}

.badge-4 {
    color: #1dbb1f;
    border-color: #1dbb1f;
}

.badge-5 {
    color: #2382ff;
    border-color: #2382ff;
}

.badge-6 {
    color: #3923ff;
    border-color: #3923ff;
}

.badge-7 {
    color: #9523ff;
    border-color: #9523ff;
}

.badge-8 {
    color: #ff7023;
    border-color: #ff7023;
}
.club-cate {
    color: var(--color-main);
    border-color: var(--color-main);
}



.file-btn{
    width: calc((120/var(--vw))*100vw);
    height: var(--vh-48);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-main);
    gap: 4px;
    font-size: 14px;
}
#postFile{
    position: absolute;
    width: 0;
    left: -99999px;
}
.i-file {
    filter : invert(54%) sepia(23%) saturate(2818%) hue-rotate(194deg) brightness(100%) contrast(91%);
}
.file-wrap {
    display: flex;
    gap: 12px;
    align-items: center;
}
#originName{
    color: var(--color-font-md);
    font-size: var(--font-size-14);
    font-family: var(--font-reg);
}
.club-details {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: 8px;
}
.thum {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: var(--size-50);
    border: 1px solid var(--color-stroke);
}
.mbrCnt {
    display: flex;
    align-items: center;
    gap: 4px;
}
.currentMbr {
    color: var(--color-main);
}