@import "../commonStyle.css";

/*  공통  */
#tab-header {
    display: flex;
    flex-direction: column;
    gap: 12px !important;
    justify-content: flex-start;
    align-items: flex-start !important;
}
#tab-header strong.font-sb {
    color: var(--color-main);
}
.main-inner {
    flex-direction: row;
    gap: var(--vw-24);
    justify-content: flex-start;
}
#post {
    width: calc((800/var(--vw))*100vw);
}
#post .post-card {
    padding: var(--vw-32);
    display: flex;
    flex-direction: column;
    gap: var(--vh-32);
}
.card-title {
    font-size: var(--font-size-18);
    color: var(--color-font-md);
    font-family: var(--font-md);
}
#sntncCn,.sntncCn {
    width: 100%;
    height: calc((160/var(--vh))*100vh);
    padding: var(--vw-24);
    font-family: var(--font-md);
    color: var(--color-font-md);
    font-size: 14px;
}
#post .post-wrap, #post .post-list-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--vw-24);
}
#post .post-card form {
    display: flex;
    flex-direction: column;
    gap: var(--vh-32);
}
.post-card-footer {
    display: flex;
    justify-content: space-between;
}
#insertPostBtn,.saveMoidfyBtn {
    width: calc((160/var(--vw))*100vw);
    padding: var(--vh-12) 0;
    text-align: center;
}
.saveMoidfyBtn {
    align-self: flex-end;
}
.file-btn{
    width: calc((120/var(--vw))*100vw);
    height: var(--vh-48);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-main);
    gap: 4px;
    font-size: 14px;
}
#postFile{
    position: absolute;
    width: 0;
    left: -99999px;
}
.i-file {
    filter : invert(54%) sepia(23%) saturate(2818%) hue-rotate(194deg) brightness(100%) contrast(91%);
}
.file-wrap {
    display: flex;
    gap: 12px;
    align-items: center;
}
.writer-info {
    display: flex;
    gap: 8px;
    align-items: center;
}
.thum {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: var(--size-50);
    border: 1px solid var(--color-stroke);
}
.writer-info-detail h4.postWriterInfo {
    font-size: 18px;
    font-family: var(--font-b);
    color: var(--color-font-md);
    margin-bottom: 4px;
}
.writer-info-detail p {
    font-size: 11px;
    color: var(--color-font-md);
}
.post-card-header {
    display: flex;
    justify-content: space-between;
}
.post-card .more-wrap .more {
    opacity: 0;
}
.post-card:hover .more-wrap .more {
    opacity: 1;
}
.more-list {
    position: absolute;
    background: var(--color-white);
    box-shadow: var(--clay-card);
    border: 1px solid var(--color-stroke);
    border-radius: 8px;
    transform: scale(0);
}
.more-list li .btn {
    width: 80px;
    padding: var(--vh-12) var(--vw-24);
    font-size: 14px;
    font-family: var(--font-reg);

}
.more-list li .btn:hover {
    background: var(--color-bg-grey);
}
.more-wrap .more.on ~ .more-list {
    transform: scale(100%);
}
/*  좋아요 */
.enter-wrap {
    display: flex;
    align-items: center;
    gap: var(--vw-24);
}
.recommend-wrap, .answer-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
}
.enter-btn {
    width: 24px;
    height: 24px;
}
.enter-text {
    font-size: 14px;
    color: var(--color-font-md);
}
.loadAnswer {
    background: url("/resources/images/icon/comment.svg") 100% center / cover !important;
    filter : invert(48%) sepia(22%) saturate(277%) hue-rotate(174deg) brightness(90%) contrast(89%);
}
.post-list-wrap .post-card-footer {
    flex-direction: column;
    gap: var(--vh-64);
}
.answer-detail-wrap .my-answer{
    display: flex;
    align-items: center;
}
.answerCn {
    flex: 1;
    border: 1px solid transparent;
    padding: var(--vh-12) var(--vw-24);
    outline: none;
    font-family: var(--font-reg);
}
.inputAnswer {
    padding: var(--vh-12);
    border-radius: 4px;
}
.answer-detail-wrap {
    display: none;
}
.answer-list {
    background: var(--color-bg-sky);
    padding: var(--vh-24) var(--vw-12);
}
.post-card.on .answer-detail-wrap {
    display: block;
}
.answer-thum {
    width: var(--vw-48);
    height: var(--vw-48);
    border-radius: var(--size-50);
    border: 1px solid var(--color-stroke);
}
.answer-list-item{
    display: flex;
    align-items: center;
    gap: 12px;
}
.answer-empl-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.info-top {
    display: flex;
    align-items: center;
    gap: 12px;
}
.answer-empl-name {
    font-size: 14px;
    font-family: var(--font-md);
}
.answer-date {
    font-size: 11px;
    color: var(--color-font-md);
}
.empl-answerCn {
    font-size: 14px;
}
.answerBox {
    display: flex;
    flex-direction: column;
    gap: var(--vh-24);
}
.post-card .file-wrap {
    padding: var(--vh-12);
}
.fileBox {
    padding: var(--vh-12) var(--vw-24);
    color: var(--color-main);
    font-family: var(--font-sb);
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: var(--vw-24);
}
.file-size {
    font-size: 11px;
    color: var(--color-font-md);
}

/* 공지 및 투표  */
#service {
    display: flex;
    flex : 1;
}
#service .service-wrap {
    width: 100%;
    flex-direction: column;
    margin: 0;
    height: auto;
    justify-content: unset;
    align-items: unset;
}
.service-btn {
    width: calc((108/var(--vw))*100vw);
    height: calc((40/var(--vh))*100vh);
    font-size: 11px;
    font-family: var(--font-md);
}
.service-btn.on {
    background: var(--color-main);
    box-shadow: var(--clay-btn);
    color: white;
}
.team-enter {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.addBtn {
    align-self: flex-end;
    margin-bottom: 12px;
}
.option-header {
    display: flex;
    justify-content: space-between;
}
.modal-title {
    font-size: var(--font-size-18);
    color: var(--color-font-md)
}
.option {
    position: relative;
}
.option-body {
    display: flex;
    flex-direction: column;
    gap: var(--vh-12);
}
.optiondelete {
    position: absolute;
    right: var(--vw-12);
    top: 50%;
    transform: translateY(-50%);
}

/*  아코디언    */
input[id*="accordion"] {
    display: none;
}
input[id*="accordion"]:checked + label .btn-wrap i.i-arr-bt {
    transform: rotate(180deg);
}
input[id*="accordion"]:checked ~ .accordion-body {
    height: calc((240/var(--vh))*100vh);
    overflow-y: auto;
}
input[id*="accordion"] + label .btn-wrap i.i-arr-bt {
    transform: rotate(0deg);
}
.vote-list-wrap .card {
    padding: var(--vw-32);
    display: flex;
    flex-direction: column;
    gap: var(--vh-32);
}
.card-header {
    display: flex;
    width: 100%;
}
.vote-list-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-font-row);
    width: calc((88/var(--vw))*100vw);
    height: var(--vh-40);
    border-radius: var(--size-32);
    font-size: 14px;
}
.ongoing {
    border-color: var(--color-main);
    color: var(--color-main);
}
.completed {
    border-color: var(--color-font-row);
    color: var(--color-font-row);
}
.vote-header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}
.vote-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vote-info > div {
    display: flex;
    align-items: center;
    gap: var(--vw-24);
}
.voteTitle {
    font-size: 14px;
    font-family: var(--font-md);
    color: var(--color-font-md);
}
.endBtn {
    width: calc((88/var(--vw))*100vw);
    height: var(--vh-40);
    border-radius: var(--size-32);
    font-size: 11px;
    font-family: var(--font-reg);
}
.voteDate {
    font-size: 11px;
    color: var(--color-font-md);
}
.options {
    width: calc((520/var(--vw))*100vw);
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}
.option-btn  {
    min-width: calc((80/var(--vw))*100vw);
    padding: var(--vh-12) var(--vw-24);
    font-family: var(--font-md);
    font-size: 11px;
}
.option-btn.on {
    background-color: var(--color-main);
    color: white;
    box-shadow: var(--clay-btn);
    font-family: var(--font-sb);
}
.vote-result {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--vw-24);
}
.vote-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--vh-64);
    padding: 0 var(--vw-24);
    background: var(--color-bg-sky);
    border: 1px solid var(--color-stroke);
    border-radius: var(--size-24);
    font-size: 14px;
    color: var(--color-font-md);
    font-family: var(--font-md);
}
.option-title {
    display: block;
    width: 80%;
}
.option-total {
    position: relative;
    display: block;
    font-size: 11px;
}
.option-total::before {
    content: "";
    position: absolute;
    left: -16px;
    width: 12px;
    height: 12px;
    background: url("/resources/images/icon/profile-2user.svg") 100% center / cover;
}
.vote-list-wrap .card.completed .vote-option {
    background: var(--color-bg-grey);
}
#notisntncCn {
    padding: var(--vh-12) var(--vw-24);
    height: calc((160/var(--vh))*100vh);
}

/*아코디언창*/
.accordion-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: var(--vh-24) 0;
    gap: 8px;
}
.notice-title-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 80%;
}
.noti-title {
    display: block;
    font-size: 14px;
    font-family: var(--font-md);
    color: var(--color-font-md);
}
.noti-date {
    font-size: 11px;
    color: var(--color-font-md);
}
.editBtn {
    padding: var(--vh-12) var(--vw-12);
    border-radius: 8px;
    font-size: 11px;
}
i.accordion-arrow.icon {
    width: 24px;
    height: 24px;
}
.notice-list-wrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.notice-list-wrap .btn-wrap {
    display: flex;
    align-items: center;
    gap: 24px;
}
.notice-list-wrap .input-l {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.noti-content {
    font-size: 14px;
    color: var(--color-font-md);
}
.accordion-body {
    height: 0;
    overflow: hidden;
}
.edit-btn-wrap {
    display: flex;
    white-space: nowrap;
    gap: 4px;
}
.modifySntncCn {
    border: none !important;
}
.enter-wrap .btn-wrap {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}