<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.groovy.cloud.CloudMapper">
    <insert id="insertCloud" parameterType="cloudVO">
        INSERT INTO CLOUD(CLOUD_OBJECT_KEY,
                          CLOUD_SHARE_EMPL_ID)
        VALUES (#{cloudObjectKey},
                #{cloudShareEmplId})
    </insert>

    <select id="getEmplNm" parameterType="String" resultType="String">
        SELECT E.EMPL_NM
        FROM EMPL E, CLOUD C
        WHERE C.CLOUD_SHARE_EMPL_ID = E.EMPL_ID
          AND C.CLOUD_OBJECT_KEY = #{cloudObjectKey}
    </select>

    <delete id="deleteCloud" parameterType="String">
        DELETE
        FROM CLOUD
        WHERE CLOUD_OBJECT_KEY = #{cloudObjectKey}
    </delete>
</mapper>

