<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.groovy.facility.FacilityMapper">
    <insert id="inputRestReservation" parameterType="facilityVO">
        INSERT INTO FCLTY_RESVE( FCLTY_RESVE_SN
                               , FCLTY_RESVE_BEGIN_TIME
                               , FCLTY_RESVE_END_TIME
                               , FCLTY_RESVE_REQUST_MATTER
                               , FCLTY_RESVE_EMPL_ID
                               , COMMON_CODE_RESVE_AT
                               , COMMON_CODE_FCLTY_KIND)
        VALUES ( FCLTY_RESVE_SEQ.NEXTVAL
               , #{fcltyResveBeginTime}
               , #{fcltyResveEndTime}
               , #{fcltyResveRequstMatter}
               , #{fcltyResveEmplId}
               , #{commonCodeResveAt}
               , #{commonCodeFcltyKind})
    </insert>

    <delete id="deleteReservedByFcltyResveSn" parameterType="int">
        DELETE
        FROM FCLTY_RESVE
        WHERE FCLTY_RESVE_SN = #{fcltyResveSn}
    </delete>

    <select id="getRooms" resultType="facilityVO" parameterType="String">
        SELECT COMMON_CODE_FCLTY_KIND, FCLTY_PSNCPA
        FROM FCLTY
        WHERE COMMON_CODE_FCLTY_KIND LIKE #{commonCodeFcltyKind}
    </select>

    <select id="getReservedRoomsByFcltyKind" resultType="facilityVO" parameterType="String">
        SELECT F.COMMON_CODE_FCLTY_KIND
             , F.FCLTY_PSNCPA
             , FR.FCLTY_RESVE_SN
             , FR.FCLTY_RESVE_BEGIN_TIME
             , FR.FCLTY_RESVE_END_TIME
             , FR.FCLTY_RESVE_REQUST_MATTER
             , FR.FCLTY_RESVE_EMPL_ID
             , FR.COMMON_CODE_RESVE_AT
        FROM FCLTY F
                 INNER JOIN FCLTY_RESVE FR ON F.COMMON_CODE_FCLTY_KIND = FR.COMMON_CODE_FCLTY_KIND
        WHERE TRUNC(FR.FCLTY_RESVE_BEGIN_TIME) = TRUNC(SYSDATE)
          AND F.COMMON_CODE_FCLTY_KIND = #{commonCodeFcltyKind}
    </select>

    <select id="getReservedRoomByFcltyResveEmplId" resultType="facilityVO" parameterType="Map">
        SELECT F.COMMON_CODE_FCLTY_KIND
             , FR.FCLTY_RESVE_SN
             , FR.FCLTY_RESVE_BEGIN_TIME
             , FR.FCLTY_RESVE_END_TIME
             , FR.FCLTY_RESVE_EMPL_ID
             , FR.COMMON_CODE_RESVE_AT
             , FR.FCLTY_RESVE_REQUST_MATTER
        FROM FCLTY F
                 INNER JOIN FCLTY_RESVE FR ON F.COMMON_CODE_FCLTY_KIND = FR.COMMON_CODE_FCLTY_KIND
        WHERE TRUNC(FR.FCLTY_RESVE_BEGIN_TIME) = TRUNC(SYSDATE)
          AND FR.FCLTY_RESVE_EMPL_ID = #{fcltyResveEmplId}
          AND F.COMMON_CODE_FCLTY_KIND LIKE #{fcltyKind}
    </select>

    <select id="getFixturesByFcltyKind" resultType="facilityVO" parameterType="String">
        SELECT MAX(CASE WHEN FX.COMMON_CODE_FXTRS_KIND = 'FXTRS010' THEN FX.COMMON_CODE_FXTRS_KIND END) AS PROJECTOR,
               MAX(CASE WHEN FX.COMMON_CODE_FXTRS_KIND = 'FXTRS011' THEN FX.COMMON_CODE_FXTRS_KIND END) AS WHITE_BOARD,
               MAX(CASE WHEN FX.COMMON_CODE_FXTRS_KIND = 'FXTRS012' THEN FX.COMMON_CODE_FXTRS_KIND END) AS SCREEN,
               MAX(CASE WHEN FX.COMMON_CODE_FXTRS_KIND = 'FXTRS013' THEN FX.COMMON_CODE_FXTRS_KIND END) AS EXTINGUISHER
        FROM FXTRS FX
                 INNER JOIN FCLTY FC ON FX.COMMON_CODE_FCLTY_KIND = FC.COMMON_CODE_FCLTY_KIND
        WHERE FC.COMMON_CODE_FCLTY_KIND = #{commonCodeFcltyKind}
    </select>

    <select id="getCountOfSameReservation" resultType="int" parameterType="facilityVO">
        SELECT COUNT(COMMON_CODE_FCLTY_KIND)
        FROM FCLTY_RESVE
        WHERE COMMON_CODE_FCLTY_KIND = #{commonCodeFcltyKind}
          AND FCLTY_RESVE_BEGIN_TIME = #{fcltyResveBeginTime}
          AND FCLTY_RESVE_END_TIME = #{fcltyResveEndTime}
          AND FCLTY_RESVE_EMPL_ID = #{fcltyResveEmplId}
          AND COMMON_CODE_RESVE_AT = #{commonCodeResveAt}
    </select>
</mapper>