<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.groovy.schedule.ScheduleMapper">
	<select id="getSchedule" resultType="scheduleVO">
		SELECT * FROM SCHDUL
	</select>
	
	<select id="getOneSchedule" parameterType="int" resultType="scheduleVO">
		SELECT * FROM SCHDUL WHERE SCHDUL_SN = #{schdulSn}
	</select>
	
	<insert id="inputSchedule" parameterType="scheduleVO">
		INSERT INTO
		SCHDUL(SCHDUL_SN, SCHDUL_NM, SCHDUL_BEGIN_DATE, SCHDUL_CLOS_DATE)
		VALUES(SCHDUL_SN.NEXTVAL, #{schdulNm}, #{schdulBeginDate}, #{schdulClosDate})
	</insert>
	
	<update id="modifySchedule" parameterType="scheduleVO">
		UPDATE SCHDUL
		SET 
		SCHDUL_NM = #{schdulNm},
		SCHDUL_BEGIN_DATE = #{schdulBeginDate},
		SCHDUL_CLOS_DATE = #{schdulClosDate}
		WHERE SCHDUL_SN = #{schdulSn}
	</update>
	
	<delete id="deleteSchedule" parameterType="int">
		DELETE FROM SCHDUL WHERE SCHDUL_SN = #{data}
	</delete>
	
	<!-- 휴가 중인 사원 캘린더에 등록 -->
	<insert id="inputVacationEMPL">
	INSERT INTO SCHDUL(SCHDUL_SN, SCHDUL_NM, SCHDUL_BEGIN_DATE, SCHDUL_CLOS_DATE)
	SELECT 
	    SCHDUL_SN.NEXTVAL,
	    CASE
	        WHEN COMMON_CODE_YRYC_USE_SE = 'YRYC020' THEN (SELECT EMPL_NM FROM EMPL WHERE EMPL_ID = YRYC_USE_DTLS_EMPL_ID) || ' 오전반차'
	        WHEN COMMON_CODE_YRYC_USE_SE = 'YRYC021' THEN (SELECT EMPL_NM FROM EMPL WHERE EMPL_ID = YRYC_USE_DTLS_EMPL_ID) || ' 오후반차'
	        WHEN COMMON_CODE_YRYC_USE_SE = 'YRYC022' THEN (SELECT EMPL_NM FROM EMPL WHERE EMPL_ID = YRYC_USE_DTLS_EMPL_ID) || ' 휴가'
	        ELSE (SELECT EMPL_NM FROM EMPL WHERE EMPL_ID = YRYC_USE_DTLS_EMPL_ID)
	    END AS SCHDUL_NM,
	    YRYC_USE_DTLS_BEGIN_DATE AS SCHDUL_BEGIN_DATE,
	    YRYC_USE_DTLS_END_DATE AS SCHDUL_CLOS_DATE
	FROM 
	    YRYC_USE_DTLS
	WHERE 
	    COMMON_CODE_YRYC_STATE = 'YRYC032'
	    AND NOT EXISTS (
	        SELECT 1 FROM SCHDUL 
	        WHERE 
	            CASE
	                WHEN COMMON_CODE_YRYC_USE_SE = 'YRYC020' THEN (SELECT EMPL_NM FROM EMPL WHERE EMPL_ID = YRYC_USE_DTLS_EMPL_ID) || ' 오전반차'
	                WHEN COMMON_CODE_YRYC_USE_SE = 'YRYC021' THEN (SELECT EMPL_NM FROM EMPL WHERE EMPL_ID = YRYC_USE_DTLS_EMPL_ID) || ' 오후반차'
	                WHEN COMMON_CODE_YRYC_USE_SE = 'YRYC022' THEN (SELECT EMPL_NM FROM EMPL WHERE EMPL_ID = YRYC_USE_DTLS_EMPL_ID) || ' 휴가'
	                ELSE (SELECT EMPL_NM FROM EMPL WHERE EMPL_ID = YRYC_USE_DTLS_EMPL_ID)
	            END = (SELECT SCHDUL_NM FROM SCHDUL WHERE SCHDUL_NM = 
	                CASE
	                    WHEN COMMON_CODE_YRYC_USE_SE = 'YRYC020' THEN (SELECT EMPL_NM FROM EMPL WHERE EMPL_ID = YRYC_USE_DTLS_EMPL_ID) || ' 오전반차'
	                    WHEN COMMON_CODE_YRYC_USE_SE = 'YRYC021' THEN (SELECT EMPL_NM FROM EMPL WHERE EMPL_ID = YRYC_USE_DTLS_EMPL_ID) || ' 오후반차'
	                    WHEN COMMON_CODE_YRYC_USE_SE = 'YRYC022' THEN (SELECT EMPL_NM FROM EMPL WHERE EMPL_ID = YRYC_USE_DTLS_EMPL_ID) || ' 휴가'
	                    ELSE (SELECT EMPL_NM FROM EMPL WHERE EMPL_ID = YRYC_USE_DTLS_EMPL_ID)
	                END
	                AND SCHDUL_BEGIN_DATE = YRYC_USE_DTLS_BEGIN_DATE
	                AND SCHDUL_CLOS_DATE = YRYC_USE_DTLS_END_DATE
	            )
	    )
	</insert>


</mapper>
