
.searchDiv {
    display: flex; 
    justify-content: space-between; 
}

#quickFilter {
    width: calc((400 / var(--vw)) * 100vw); 
    height: calc((60 / var(--vh)) * 100vh);
    border: none;
    outline: none;
}

.serviceWrap {
    margin-bottom: var(--vh-16);
    background-color: var(--color-white);
    border: 1px solid var(--color-stroke);
    border-radius: var(--size-32);
    box-shadow: var(--clay-card);
    outline-color: var(--color-main);
    padding-left: 10px;
}

.icon {
    width: var(--vw-24); 
    height: var(--vh-24); 
    margin-bottom: 3px;
}

/* grid */
.card .ag-root-wrapper {
    border: none;
    margin: 0;
    font-size: var(--font-size-14);
}

.card {
    height: calc((800 / 1080) * 100vh) !important;
    overflow: hidden;
}

.ag-theme-material {
    width: 100%;
    height: calc((360 / 1080) * 100vh);
    text-align: center;
    --ag-font-family : var(--font-reg);
    --ag-font-size : var(--font-size-14);
}

.ag-header-cell-label {
    justify-content: center;
}

.ag-header-row-column, .ag-header-viewport {
    background-color: var(--color-bg-sky);
}

.ag-header {
    border : none;
}

.ag-row-even, .ag-row-odd {
    border-color: var(--color-bg-grey);
}
    