/* 메인 */
.short {
    display: flex;
    align-items: center;
    gap: var(--vw-64);
    margin-bottom: var(--vh-12);
}
.short .total {
    display: flex;
    align-items: center;
    gap: 4px;
}
#request-club {
    height: 200px;
}

#manage-club {
    height: 300px;
}

.request-club-wrap {
    height: calc((304 / var(--vh)) * 100vh) !important;
}

.manage-club-wrap {
    height: calc((460 / var(--vh)) * 100vh) !important;
}

.clubCount {
    color: var(--color-main);
}

.approve, .disapprove, .dormacy, .manage, .leave, .closure, .manageMember {
    width: calc((80 / var(--vw)) * 100vw);
    height: calc((33 / var(--vh)) * 100vh);
    border: 1px solid var(--color-font-md);
    border-radius: calc((20 / var(--vw)) * 100vw);
    background-color: var(--color-white);
}

/* 제안내역, 운영내역 */
.side-header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-stroke);
    border-radius: var(--vw-12);
    background: var(--color-white);
    padding: var(--vh-16) var(--vw-24);
    margin-bottom: var(--vh-24);
}

.card .ag-root-wrapper {
    border: none;
    margin: 0;
    font-size: var(--font-size-14);
}

.card {
    overflow: hidden;
    box-shadow: var(--clay-card);
}

.ag-theme-material {
    width: 100%;
    height: calc((360 / 1080) * 100vh);
    text-align: center;
    --ag-font-family: var(--font-reg);
    --ag-font-size: var(--font-size-14);
}

.ag-header-cell-label {
    justify-content: center;
}

.ag-header-row-column, .ag-header-viewport {
    background-color: var(--color-bg-sky);
}

.ag-header {
    border: none;
}

.ag-row-even, .ag-row-odd {
    border-color: var(--color-bg-grey);
}

.ag-row .ag-cell {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

/* 회원관리 */
.grid {
    display: grid;
    gap: var(--vw-24);
    grid-template-columns: repeat(2, 1fr);
}

.info-wrapper, .info-modify-wrapper {
    display: grid;
    width: calc((726 / 1920) * 100vw);
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    box-shadow: var(--clay-card);
    padding: var(--vh-16) var(--vw-24);
    justify-items: center;
    align-items: center;
    margin-bottom: var(--vh-24);
}

.info-wrapper > .info-list, .info-modify-wrapper > .info-list {
    display: flex;
    flex-direction: column;
    width: calc((315 / var(--vw)) * 100vw);
    height: calc((120 / var(--vh)) * 100vh);
    padding-top: var(--vh-12);
}

.ag-body-viewport, .ag-layout-normal, .ag-row-no-animation {
    height: 300px;
    overflow-y: auto;
}

#modify-club {
    display: none;
}

#save {
    display: none;
    float: right;
}

#modify {
    background: url("/resources/images/icon/i-setting.svg");
    background-size: var(--vw-16);
    border: none;
    width: var(--vw-16);
    height: var(--vw-16);
}

.content {
    margin-top: var(--vh-24);
}

.bar {
    height: var(--vh-48);
    border-left: 1px solid var(--color-font-row);
}

.display {
    display: flex;
    align-items: flex-end;
}

.org {
    height: var(--vh-40);
    margin-left: 10px;
}
.left-align {
    justify-content: left !important;
}