table {
    width: 100%;
    border: 1px solid rgba(0,0,0,0);
    border-collapse: collapse;
    border-bottom: var(--color-stroke);
    margin-bottom: var(--vh-48);
}

.side-header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--color-stroke);
    border-radius: var(--vw-12);
    background: var(--color-white);
    padding: 8px var(--vw-24);
    margin-bottom: var(--vh-12);
}

tr {
    height: var(--vh-56);
    border-bottom: var(--color-stroke);
}

.card-title {
    height: var(--vh-56);
    padding: var(--vw-16) var(--vh-24);
    margin-bottom: var(--vh-24);
    border-radius: calc((12 / var(--vw)) * 100vw);
}

th {
    padding: 0 var(--vh-24);
    width: calc((240 / var(--vw)) * 100vw);
    text-align: left;
}

.input {
    width: 100%;
    height: var(--vh-32);
    font-size: var(--font-size-14);
    border-radius: calc((8 / var(--vw)) * 100vw);
    color : var(--color-font-md);
}

.label-radio {
    color : var(--color-font-md);
    margin-right: var(--vw-24);
}

.checkbox-hipass {
    height: calc((12 / var(--vw)) * 100vw);
}

.grid-card {
    height: calc((400 / 1080) * 100vh) !important;
}

.button-wrap {
    text-align: center;
}

