@import "../commonStyle.css";

/*  공통  */
.content {
    width: 100%;
    height: 100%;
    display: flex;
    gap: var(--vw-24);
}

.content > div {
    height: 100%;
    padding: var(--vw-32);
}

/* form-table */
.form-table {
    width: 100%;
    border-collapse: collapse;
}

.form-table tr {
    height: var(--vh-40);
}

.form-title {
    width: calc((240 / 1920) * 100vw);
    padding: var(--vh-12) var(--vw-24);
    font-size: 14px;
    font-family: var(--font-md);
}

/* 결재 문서(입력 텍스트)*/
.form-content {
    padding: var(--vh-12) var(--vw-24);
    font-size: 12px;
    font-family: var(--font-reg);
}

i.icon {
    height: 16px;
    width: 16px;
}

.message-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--vw-48);
}

.message, #requestDate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--vh-12);
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    font-family: var(--font-reg);
}

.form-file {
    display: flex;
    align-items: center;
}

.form-file .file-title {
    width: calc((240 / 1920) * 100vw);
    padding: var(--vh-12) var(--vw-24);
    text-align: center;
}

.form-file .file-title p {
    font-size: var(--font-size-14);
    font-family: var(--font-b);
}

.file-box {
    width: 100%;
    border: 2px solid var(--color-stroke);
    border-radius: var(--vw-12);
    background: var(--color-bg-grey);
    padding: var(--vh-64) var(--vw-24);
}

.file-box .file-name {
    font-size: 12px;
    font-family: var(--font-reg);
    color: var(--color-font-md)
}

.select-file {
    font-size: 10px;
    font-family: var(--font-reg);
    text-decoration-line: underline;

}

#sanctionFile {
    display: none;
}

/*  조직도  */
.orgChart {
    display: flex;
    flex-direction: column;
    gap: var(--vw-24);
    flex: 1;
}

.department {
    width: 100%;
    text-align: left;
    padding: var(--vw-12);
    background-color: var(--color-bg-sky);
    display: flex;
    justify-content: space-between;
    border: none;
}

.depth {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
}

.dept.active .depth {
    max-height: 447px;
    overflow-y: auto;
}

.dept .depth > .emplList {
    padding: var(--vw-12);
}

.active.department + .icon {
    transform: rotate(-180deg);
}

/*  결재선 */
#line {
    overflow-y: scroll;
}

.approvalLine {
    display: flex;
    flex-direction: column;
    flex: 2;
    /*justify-content: space-between;*/
}

.bookmark-btn {
    border: none;
    margin-bottom: 30px;
}

.bookmark-btn:hover {
    background-color: transparent;
    color: #1c59bb;
}

#approval {
    height: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    padding-right: 3%;
}

.line-inner {
    display: flex;
    gap: var(--vw-32);
    flex: 1;
}

.line-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--vw-32);
}

.contentWrap {
    flex: 5;
    height: 100%;
    border: 1px solid var(--color-stroke);
}

.lineList {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-bg-grey);
    padding: var(--vw-24);
}

.line-item {
    padding: var(--vh-12) var(--vw-24);
    display: flex;
    gap: var(--vw-12);
    align-items: center;
    width: 100%;
}

.line-item > label {
    width: 50%;
}

.line-item > * {
    padding: var(--vw-16);
    border: 1px solid var(--color-stroke);
    border-radius: 8px;
    background: white;
}

.emplList > label {
    display: flex;
    gap: var(--vw-12);
}

.line-block {
    font-size: 10px;
    font-family: var(--font-reg);
    display: flex;
    align-items: center;
    gap: var(--vw-12);
}

.badge {
    padding: var(--vw-12) var(--vw-32);
    color: white;
}

.badge.sanction {
    background-color: var(--color-main);
}

.badge.attachment {
    background-color: #ffbb2a;
}

.line-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    /*gap: var(--vw-12);*/
}

.close {
    align-self: center;
}

#searchLine {
    border: none;
    border-radius: var(--size-32);
}

.btn-search {
    font-size: 8px;
    min-width: 48px;
    justify-content: center;
}

.line-table {
    width: 100%;
    border-collapse: collapse;
}

.line-table td {
    text-align: center;
}

.line-label {
    width: 100%;
}

.emplList {
    list-style: none;
    padding: var(--vw-12);
}

.line-list > li {
    display: flex;
}

.line-name {
    display: inline-block;
    min-width: calc((128 / 1920) * 100vw);
    padding: var(--vh-12) var(--vw-12);
    border: 1px solid var(--color-main);
    color: var(--color-main);
    text-align: center;
}

.line-label .line-block {
    flex: 1;
}

/*  ////    BOX 페이지 ////*/
.main-inner {
    display: flex;
    flex-direction: column;
    gap: var(--vh-64);
}

.sanction-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: calc((80 / 1080) * 100vh);
    gap: var(--vw-24);
}

.sanction-list-item {
    height: calc((216 / 1080) * 100vh);
    border-radius: var(--size-32);
    overflow: hidden;
    background: var(--color-white);
    box-shadow: var(--clay-card);
    border: 1px solid var(--color-stroke);
}

#refresh.icon-area::after {
    background-image: url("../../images/Icon3d/Heart_rate.png");
}

#vacation.icon-area::after {
    background-image: url("../../images/Icon3d/Rocket.png");
}

#birthday.icon-area::after {
    background-image: url("../../images/Icon3d/Gift.png");
}

#event.icon-area::after {
    background-image: url("../../images/Icon3d/Light.png");
}

#sick.icon-area::after {
    background-image: url("../../images/Icon3d/pill.png");
}

#card.icon-area::after {
    background-image: url("../../images/Icon3d/card.png");
}


/*  결재 요청   */
.formTitle .main-title {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}

.content-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-header .btn-wrap {
    align-self: flex-end;
}

.form-header .btn-wrap #getLine,
#sanctionSubmit,
.form-header .btn-wrap #collectBtn,
.rejectBtn,
#downBtn, .sanctionBtn, #closeBtn {
    border-radius: var(--vw-12);
    width: calc((240 / 1920) * 100vw);
    height: calc((80 / 1920) * 100vh);
    padding: 4px 8px;
    font-size: 12px;
    white-space: nowrap;

}

/*#closeBtn {*/
/*    font-size: 12px;*/
/*    white-space: nowrap;*/
/*}*/

#sanctionSubmit {
    border: 1px solid var(--color-main);
    color: var(--color-main);
    font-family: var(--font-b);
}

.form-header .formTitle {
    align-self: center;
}

.line-wrap {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.line-table th {
    font-size: 12px;
}

.line-table td {
    font-size: 12px;
}

.line-table td, .line-table th {
    border: 1px solid var(--color-stroke);
    padding: var(--vh-12) var(--vw-12);
}

th {
    background: var(--color-bg-darkGrey);
}

.sanctionTh {
    padding: var(--vh-12) var(--vw-24);
}

.obtt > td {
    justify-content: space-between;
    width: 80px;
    height: 96px;
}

.obtt-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.approval-person {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.approval-person img {
    display: block;
    width: 48px;
    height: 48px;
}

.approval-date {
    font-size: 10px;
    font-family: var(--font-md);
}

.i-down {

}

#refer {
    align-self: flex-end;
}

#refer td {
    padding: var(--vh-12) var(--vw-24);
}

/*  form   */
#formCard {
    margin-top: var(--vh-48);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--vh-24);
}

#formCard table {
    border-color: var(--color-stroke);
}

.form-label {
    box-sizing: content-box;
    width: calc((240 / 1920) * 100vw);
    padding: var(--vh-16) var(--vw-24);
    background: var(--color-bg-darkGrey);
    font-size: 12px;
    font-family: var(--font-md);
}

.form-out-content {
    font-size: 12px;
    font-family: var(--font-reg);
    padding: var(--vh-12) var(--vw-24);
}

.form td {
    padding: 0 !important;
}

.file-content a {
    display: block;

}

.approval-form {
    width: 100%;
    height: 100%;
    text-align: center;
    table-layout: fixed;
}

.approval-form thead {
    display: block;
}

.approval-form thead tr {
    display: flex;
    align-items: center;
}

.approval-form thead tr th {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.approval-form thead tr th:not(:nth-child(2)) {
    flex: 2;
}

.approval-form thead tr th:nth-child(2) {
    flex: 1;
}

.approval-form tbody {
    display: block;
    height: 90%;
    overflow-y: auto;
}

.approval-form tbody tr {
    display: flex;
    align-items: center;
}

.approval-form tbody tr td {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.approval-form tbody tr td:not(:nth-child(2)) {
    flex: 2;
}

.approval-form tbody tr td:nth-child(2) {
    flex: 1;
}

#inProgress {
    padding: var(--vh-24);
    height: calc((718 / var(--vh)) * 100vh);
}

.sticky-th {
    position: sticky;
    top: 0px;
}

#rejectReason {
    border: 1px solid var(--color-stroke);
    border-radius: var(--vw-10);
    outline-color: var(--color-main);
    padding: 4px;
}

.close-btn-wrap {
    text-align: center;
}

.lineAddBtn {
    padding: var(--vw-12) var(--vw-24);
}

.deleteListBtn i {
    width: 11px;
    height: 11px;
}

#rejectModal{
    width: calc((880/1920)*100vw);
    gap: var(--vh-48)
}

#rejectModal .modal-title    {
    font-size: var(--font-size-36);
}

