/*@import "../commonStyle.css";*/
/*  공통  */
.writeWrap {
    display: flex;
    height: var(--vh-48);
}

.from {
    width: calc((140/var(--vw))*100vw);
}

.subject {
    text-align: left;
}

.fromDate {
    width: calc((156/1920)*100vw);
}
/* mail */
.mailnavWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.mailnavWrap nav {
    width: calc((900/var(--vw))*100vw);
    height: var(--vh-64);
    display: flex;
    align-items: center;
    background: var(--color-white);
    box-shadow: var(--clay-card);
    border: 1px solid var(--color-stroke);
    border-radius: var(--size-24);
}
.mailnavWrap nav ul {
    display: flex;
    width: 100%;
    height: 100%;
}
.mailnavWrap nav li {
    flex: 1;
}
.mailnavWrap nav li a {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--color-font-md);
}
.mailnavWrap nav li a.on {
    color: var(--color-main);
}

/*  전체 메일함  */
.contentWrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: calc((785/var(--vh))*100vh);
    margin-top: 24px;
    padding: var(--vh-24);
}
.serviceWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mail-all-wrap .writeWrap {
    width: calc((230/var(--vw))*100vw);
    background: var(--color-main);
    box-shadow: var(--clay-btn);
    border-radius: 8px;
}
.mail-all-wrap .writeWrap > a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--color-white);
    font-family: var(--font-md);
}
.writeWrap > a:first-child {
    border-right: 1px solid #4987E3;
}
.form {
    width: 100% !important;
    text-align: center;
}
.form th {
    padding: var(--vw-10);
}
.form th:nth-child(2),.form th:nth-child(3){
    padding: 0;
}
.form tr th:not(:last-child) {
    border-right: none !important;
}
.btn-service {
    border-radius: 4px !important;
    width: 90%;
    height: var(--vh-40);
    font-size: 11px;
}
input[type=checkbox]{outline: none}
.mail-icon {
    filter: invert(91%) sepia(8%) saturate(193%) hue-rotate(175deg) brightness(91%) contrast(89%);
}
.star-icon {
    filter: invert(96%) sepia(4%) saturate(520%) hue-rotate(184deg) brightness(84%) contrast(96%);
}
.cursor {
    cursor: pointer;
}
.total-mail-text {
    color: var(--color-font-md);
}
/*메일 보내기*/
.send-wrap {
    padding: var(--vh-24) var(--vw-48);
}
#sendBtn {
    width: calc((96/var(--vw))*100vw);
    background: var(--color-main);
    box-shadow: var(--clay-btn);
    border-radius: 8px;
    font-size: 14px;
    color: var(--color-white);
    font-family: var(--font-md);
}
.send-mine {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-font-high);
    font-size: 14px;
}
.send-wrap .writeWrap {
    gap: 24px;
}
.content-body {
    display: flex;
    flex-direction: column;
    gap: var(--vh-24);
}
.mail-write-options {
    display: flex;
    flex-direction: column;
}
.mail-write-option {
    display: flex;
    align-items: center;
}
.mail-write-option > h3 {
    width: calc((96/var(--vw))*100vw);
}
.option-wrap {
    flex: 1;
    display: flex;
    padding: 4px 0;
    align-items: center;
}
.mail-write-option:not(:last-child) .mail-input{
    border-bottom: 1px solid var(--color-font-row);
}
.mail-input {
    border: none;
    outline: none;
    flex: 1;
    padding: var(--vh-12) 0;
}
.btn-org {
    width: calc((96/var(--vw))*100vw);
    padding: var(--vh-12) 0;
    justify-content: center;
    font-size: 14px;
}
.emplBadge {
    padding: 4px 8px;
    border: 1px solid var(--color-main);
    margin-right: 8px;
    color: var(--color-main);
    font-size: 11px;
}
.close-empl {
    color: var(--color-main);
}
.mail-file-wrap .option-wrap {
    flex: 1;
}
.file-btn{
    width: calc((120/var(--vw))*100vw);
    height: var(--vh-48);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-main);
    gap: 4px;
    font-size: 14px;
    margin-top: 4px;
}
.file-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.i-file {
    filter : invert(54%) sepia(23%) saturate(2818%) hue-rotate(194deg) brightness(100%) contrast(91%);
}
#file {
    display: none;
}
.file-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: var(--vh-24) var(--vw-12);
    border: 1px solid var(--color-font-row);
    min-height: calc((120/var(--vh))*100vh);
}
.delete{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background: var(--color-white);
    box-shadow: var(--clay-card);
    border: 1px solid var(--color-stroke);
    border-radius: 2px;
    cursor: pointer;
}
.filebox {
    display: flex;
    align-items: center;
    gap: 8px;
}
.name {
    font-size: 11px;
    font-family: var(--font-md);
}
.contentWrap.send-wrap {
    height: unset;
}
/*ck editor*/
#cke_1_toolbox {
    display: flex !important;
}

/*  메일 읽기   */
.contentWrap.read-wrap {
    padding: var(--vh-24) var(--vw-48);
    height: unset !important;
}
.content-header {
    display: flex;
    align-items: center;
    gap: 12px;
}
.mail-title {
    display: flex;
    align-items: center;
    gap: 8px;
}
.mail-title > a {
    display: flex;
    align-items: center;
}
.mail-cnt-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
}
.mail-cnt {
    font-size: 14px;
    color: var(--color-font-row);
}
.unread-mail {
    position: relative;
    color: var(--color-main);
}
.unread-mail::after {
    content: "/";
    position: absolute;
    right: -6px;
    color: var(--color-font-row);
}
.delete-btn {
    padding: 4px 12px;
    border-radius: 4px !important;
}
.mail-view-wrap {
    padding: var(--vh-24) 0;
}
.mail-header {
    display: flex;
    flex-direction: column;
    gap: var(--vh-16);
}
.mail-header .mail-view-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.mail-header .mail-view-title .title {
    font-size: 24px;
    font-family: var(--color-font-high);
}
.mail-header .mail-view-title .mail-date {
    font-size: 14px;
    color: var(--color-font-md);
    font-family: var(--font-md);
}
.mail-header .mail-options {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.mail-option {
    height: var(--vh-32);
    display: flex;
    gap: 24px;
    align-items: center;
}
.mail-option .title {
    font-size: 14px;
}
.mail-option .button-option {
    height: 100%;
    padding: 0 var(--vw-32);
    border-radius: var(--size-32);
    background: var(--color-bg-sky);
    font-size: 11px;
    border: 1px solid var(--color-stroke);
}
.mail-body .mail-view {
    padding: var(--vh-48) 0;
    min-height: calc((400/var(--vh))*100vh);
}
#emailFromCn {
    line-height: 1.2;
    color: var(--color-font-high);
}

/* 페이징 */
.pagination-wrapper {
    padding: var(--vw-32);
}

.pagination {
    display: flex;
    justify-content: center;
    gap: var(--vw-12);
}

.pagination .page-num {
    padding: var(--vh-12) var(--vw-16);
    border-radius: 8px;
    border: 1px solid var(--color-stroke);
    background: var(--color-white);
}

.pagination .active .page-num {
    background: var(--color-main);
    color: var(--color-white);
}